body
{
	width:1000px;
	margin-left:16%;
}
header
{
    background-color:#98FAB2;
}
main
{
    background-color:#98FAB2;
}
.KevinMessage
{
    padding:10px 10px;
}


#Image
{
  background-image:url(Pics/Message.png);
  background-size:400px 300px;
  background-position:center 40px;
  background-repeat: no-repeat;
  text-align:left;
  height:333px;
}
#numberOfMessages
{
    float:left;
    margin-left:42%;
}
#ram{
    display: inline-block;
}
#textEntry
{
    float:left;
    background-color:white;
    margin-left:15%;
}

#sendButton
{
    width:45%;
    height:40px;
    font-size:110%;
    float:left;
    margin-left:27%;
}
#messagesSection
{
    overflow-y:scroll;
    min-height:380px;
    height:380px;
    background:linear-gradient(#98FAB2,#98FAB2,#7FE49A,#7FE49A, #6DD589,#7FE49A,#6DD589,#7FE49A, #7FE49A,#98FAB2, #98FAB2);
}
#messagesSection p
{
    word-break:break-all;
    border:solid green 5px;
    margin-right:10%;
    padding:7px 7px 7px;
    margin-left:10%;
    min-height:50px;
    background-color:lightgreen;
}
input
{
}

  ::selection {
  color:#F7F7F7;
  background: #D0458E; /* Denna gör det kompatibelt med WebKit/Blink webläsare så som safari och google! */
  }
  ::-moz-selection {
  color:#F7F7F7;
  background: #D0458E; /* Denna gör koden kompatibell med Gecko webläsare alltså mozilla! */
  }