body
{
	width:1000px;
	margin-left:16%;
}
header
{
    background-color:#98FAB2;
}
main
{
    background-color:#98FAB2;
}
.KevinMessage
{
    padding:10px 10px;
}


#Image
{
  background-image:url(Pics/Message.png);
  background-size:400px 300px;
  background-position:center 40px;
  background-repeat: no-repeat;
  text-align:left;
  height:333px;
}
#numberOfMessages
{
    float:left;
    margin-left:42%;
}
#ram{
    display: inline-block;
}
#textEntry
{
    float:left;
    background-color:white;
    margin-left:15%;
}

#sendButton
{
    width:45%;
    height:40px;
    font-size:110%;
    float:left;
    margin-left:27%;
}
#messagesSection
{
    overflow-y:scroll;
    min-height:245px;
    height:245px;
    background:linear-gradient(#98FAB2,#98FAB2,#7FE49A,#7FE49A, #6DD589,#7FE49A,#6DD589,#7FE49A, #7FE49A,#98FAB2, #98FAB2);
}

#textEntry
{
    font-family: Tahoma, Geneva, sans-serif;
}
p
{
    text-transform: capitalize;
    font-family: Tahoma, Geneva, sans-serif;
}
img
{
    height:24px;
    width:24px;
}
#textArea
{
    float:right;
    min-width:900px;
    max-width:900px;
    word-break:break-all;
    border:solid #98FAB2 2px;
    margin-right:4.5%;
    min-height:50px;
    background-color:#7FE49A;
}
#textArea div
{
    float:left;
}
#textArea img
{
    float:right;
    top:10px;
}


/*#Clock // funkar inte.......
{
    float:right;
    bottom:94px;
    margin-right:10.7%;
}
#timeNumber
{
    bottom:37px;
    float:right;
    margin-right:85.5%;
    position:relative;
}*/
#allButtons
{
    bottom:5px;
}




  ::selection {
  color:#F7F7F7;
  background: #D0458E; /* Denna gör det kompatibelt med WebKit/Blink webläsare så som safari och google! */
  }
  ::-moz-selection {
  color:#F7F7F7;
  background: #D0458E; /* Denna gör koden kompatibell med Gecko webläsare alltså mozilla! */
  }